.visible{
    visibility: hidden;
}
.image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image img{
    margin-bottom: 10px;
    width: 120px;
    height: 120px;
    object-fit: scale-down;
}
.upload_text{
    font-weight: 700;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}