.main{
    font-size: 50px;
}
.active{
    color: green;
}
.circle{
    font-size: 63px;
    border: 1px solid blue;
    border-radius: 50%;
    color: blue;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.circle.active{
    background-color: #b2e3f1;
}

.item{
    max-width: 90px;
    z-index: 1;
}
.active_text{
    color: #2001ff;
}

.text_style{
    font-weight: 700;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}