.item{
    position: relative;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.all_steps{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.line{
    top: 21%;
    position: absolute;
    width: 95%;
    left: 10px;
    border: 2px solid blue;
}